// bower:scss
// endbower
//Colors
$red: #ff0000;
$blue: #1485CC;
$white: #FFFFFF;
$black: #1b1e25;
$grey: #dedede;
$dark-grey: #3b403d;
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,900);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@font-face {
  font-family: 'ChunkFive';
  src: url('../fonts/ChunkFive.woff2') format('woff2'), url('../fonts/ChunkFive.woff') format('woff'), url('../fonts/ChunkFive.ttf') format('truetype');
}

@mixin fullsize($url) {
  background: url($url) no-repeat center;
  background-size: cover;
  min-height: 600px;
  height: 100%;
  margin: 0 10%;
  box-shadow: 7px 7px rgba(0, 0, 0, .1);
}

body {
  background-color: $blue;
  height: 100%;
  color: $black;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  -webkit-font-smoothing: antialiased; //goddamn safari
}

.section {
  margin: 10% 10%;
  box-shadow: 7px 7px rgba(0, 0, 0, .1);
  background-color: $white;
}

// .gradient-background {
//   background: linear-gradient($blue, darken($blue, 10%));
// }
.section-title {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  color: $white;
  text-shadow: 3px 3px 0 $black;
  background-color: $red;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  line-height: 1.1;
}

#logo {
  background-color: $red;
  position: fixed;
  letter-spacing: 0;
  right: 20px;
  bottom: 20px;
  color: $white;
  padding: 8px;
  font-size: 12px;
  z-index: 1;
  // opacity: 0.9;
  // filter: alpha(opacity=90);
  #logo-name {
    font-size: 37px;
    line-height: 34px;
    font-family: chunkFive;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  &:hover {
    animation: spin .1s both ease-out;
  }
  #logo-place,
  #logo-date {
    font-weight: 700;
  }
}

header {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(/images/nyc.jpg) no-repeat center 0px fixed;
  background-size: cover;
  .title {
    display: block;
    margin: auto;
    margin-top: 20%;
    padding: 30px 30px;
    // box-shadow: 0 3px 3px rgba(0,0,0,.3);
    // background-color: $white;
    opacity: 0.9;
    filter: alpha(opacity=90);
    h1 {
      padding: 0;
      margin: 0;
      letter-spacing: 3px;
      font-size: 7vw;
      color: $white;
      text-shadow: $red 6px 2px;
      font-family: Roboto, sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
    }
    h3 {
      padding: 0;
      margin: 0;
      letter-spacing: 3px;
      font-size: 2em;
      color: $white;
      text-shadow: $red 4px 2px;
      font-family: Roboto, sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.red {
  color: $red;
  // border-bottom: 2px dotted $red;
}

#about {
  p {
    font-size: 18px;
    line-height: 2;
    padding-bottom: 25px;
    text-align: center;
  }
}

#unhackathon-pic {
  @include fullsize("/images/unhackathon.jpg");
}

#faq {
  padding-bottom: 20px;
  h3 {
    font-size: 1;
    font-weight: bold;
    text-transform: uppercase;
  }
  background-color: $white;
}

footer {
  color: $white;
  background-color: $dark-grey;
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  .social-ul {
    margin:auto;
    padding: 0;
    .social {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 10px;
      line-height: 40px;
      font-family: Entypo;
      text-align: center;
      border-radius: 50%;
      background: #fff;
      overflow: hidden;
      transition: background-color .3s ease-out;
      a {
        color: $dark-grey;
      }
      a:hover {
        text-decoration: none;
      }
    }
    .email:hover {
      background-color: $black;
      a {
        color: $white;
      }
    }
    .twitter:hover {
      background-color: #55acee;
      a {
        color: $white;
      }
    }
    .facebook:hover {
      background-color: #3b5998;
      a {
        color: $white;
      }
    }
    .github:hover {
      background-color: #999999;
      a {
        color: $white;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 600px;
    padding: 48px 0 55px 0;
    .title {
      h1 {
        font-size: 40px;
        text-shadow: $red 3px 3px;
      }
      h3 {
        font-size: 20px;
        text-shadow: $red 3px 1px;
      }
    }
  }
  
  .section-title {
    font-size: 20px;
  }
}
