/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $body-color;
    -webkit-text-size-adjust: 100%;
}

$large-screen: "only screen and (min-width : 640px)";

.content {
    padding: 1em;
    margin: 0;
    @media #{$large-screen} {
        margin: 0 15vw;
    }
}

