/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.section-heading {
    font-family: unhackathon-font;
    font-size:40px;
}

section {
    margin:2em;
}

#top-hack {
    width: 100vw;
    height: 100vh;
    >#top-hack-mask {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
    }
}

.content p {
    margin: 1em 0;
}

.content li {
  margin-left: 55px;
}
