/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.section-heading {
    font-family: unhackathon-font;
    text-align: center;
    font-weight: normal;
}

h1.section-heading {
    font-size: 20px;
    @media #{$large-screen} {
        font-size: 34px;
    }
}

h2.section-heading {
    font-size: 16px;
    @media #{$large-screen} {
        font-size: 24px;
    }    
}

h3.section-heading {
    font-size: 18px;
}

section {
    margin:0;
    @media #{$large-screen} {
        margin: 2em;
    }
}

#top-hack {
    width: 100vw;
    height: 100vh;
    >#top-hack-mask {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100vw;
        height: 80vh;
    }
}

.content.under-mask {
    margin-top: -130px;
}

#top-hack-svg-container {
    width: 80vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

#top-hack-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

#top-hack-svg {
    //position: absolute;
    width: 100%;
    height: 100%;
}

#under-svg-text {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-family: unhackathon-font;
    font-size:3.5vw;
    text-align:center;
    color: #333;
}

#under-svg-text-2 {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-family: unhackathon-font;
    font-size:2.5vw;
    text-align:center;
    color: #333;
}

.content p {
    margin: 1em 0;
}

.content li {
  margin-left: 55px;
}

.coc-copyright {
    font-style: italic;
}

#logo-hack {
    width: 200px;
    margin-left: .8em;
    margin-top: 0em;
    display: block;
}

.apply-span {
    text-decoration: none;
    font-family: unhackathon-font;
}
p .apply-span {
    font-size: 17px;    
}

#scroll-arrow {
    text-align: center;
    color: #333;
}

a {
    color: #E1001A;
}

.schedule {
    margin-left: auto;
    margin-right: auto;
}

.schedule-time {
    width: 100px;
    text-align: right;
    padding-right: 40px;
}

a:visited {
    color: #E1001A;
}

#softheon-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90vw;
    @media #{$large-screen} {
        width: 373px;
    }
    img {
        width: 90vw;
        @media #{$large-screen} {
            width: 373px;
            height: 62px;
        }
    }
    
}

p.centered {
    text-align: center;
}

p.response-text {
    text-align: center;
    font-family: unhackathon-font;
    @media #{$large-screen} {
        font-size: 2vw;
    }
    font-size: 5vw;
}
