/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.section-heading {
    font-family: unhackathon-font;
    font-size:40px;
    text-align: center;
}

section {
    margin:2em;
}

#top-hack {
    width: 100vw;
    height: 100vh;
    >#top-hack-mask {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
    }
}

#top-hack-svg-container {
    width: 80vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

#top-hack-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

#top-hack-svg {
    //position: absolute;
    width: 100%;
    height: 100%;
}

#under-svg-text {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-family: unhackathon-font;
    font-size:3.4vw;
    text-align:center;
    color: #333;
}

.content p {
    margin: 1em 0;
}

.content li {
  margin-left: 55px;
}

.coc-copyright {
    font-style: italic;
}

#logo-hack {
    width: 200px;
    margin-left: .8em;
    margin-top: 0em;
    display: block;
}

#apply-span {
    text-decoration: none;
}

a {
    color: #E1001A;
}

a:visited {
    color: #E1001A;
}

